.footer {
    margin-top: 20px;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
}

.footer-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    font-size: 17px;
    
}

.footer-link:hover {
    color: rgba(0, 107, 168, 0.8); 
    text-decoration: none; 
}


body{
    background-color: rgb(234, 234, 235);
}